## Settings file was created by plugin EvenMorePlayers v10.0.1
## Plugin GUID: EvenMorePlayers

[General]

## Maximum number of Players
# Setting type: Int32
# Default value: 100
newPlayerLimit = 8
## Enable more lines in debug output
# Setting type: Boolean
# Default value: false
fullDebug = false
## On the Score Balancer in the Treehouse show the Player that last change it on top
# Setting type: Boolean
# Default value: true
shuffleScoreBalancer = true

